@import './maps/maps';

* {
    color: map-get($colors, 'white');
    background: map-get($colors, 'black');
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}

.header {
    text-align: center;
    font-size: map-get($font-sizes, 'big');
    text-shadow: 1px 2px map-get($colors, 'red');
}

.center {
    text-align: center;
}

button {
    border: 0;
    font-size: map-get($font-sizes, 'default');
    margin-top: map-get($spacing-unit, 'medium');

    &:hover {
        cursor: pointer;
    }
}