@import "./maps/maps";

body {
  background: linear-gradient(
    to right,
    map-get($colors, "dark-blue"),
    map-get($colors, "light-blue")
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  margin-bottom: 0;
}

.retro-background {
  background: #000 url("../assets/stars-min.png") repeat top center;
  z-index: 1;
  height: 100vh;

  * {
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
  }

  button,
  .header,
  .resume__work,
  .resume__education,
  .opening__trademark {
    color: map-get($colors, "white");
  }
}

.modern-background {
  background: linear-gradient(
    to right,
    map-get($colors, "dark-blue"),
    map-get($colors, "light-blue")
  );

  * {
    font-family: "Poppins", sans-serif;
  }

  .intro {
    * {
      color: map-get($colors, "white");
    }
  }

  button {
    color: map-get($colors, "white");
    background: transparent;
    text-transform: capitalize;
    border-bottom: 2px solid map-get($colors, "white");
  }

  .header {
    color: map-get($colors, "white");
    text-shadow: none;
    font-weight: bold;
  }

  .resume__work,
  .resume__education {
    background: map-get($colors, "white");
    color: map-get($colors, "black");
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  .main__current-job {
    font-weight: bold;
  }
}

.main__contact,
.main__current-job,
.intro__text {
  color: map-get($colors, "white");
}

.switch {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: map-get($spacing-unit, "small");
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  &__title {
    margin-bottom: 0.5em;
    color: map-get($colors, "white");
  }

  .off {
    border: 2px solid map-get($colors, "white");

    .react-switch-bg {
      background: map-get($colors, "black") !important;
    }
  }

  .on {
    color: map-get($colors, "black");

    .react-switch-bg {
      background: map-get($colors, "white") !important;
    }

    .react-switch-handle {
      background: map-get($colors, "light-blue") !important;

      &:focus {
        outline: none;
      }
    }
  }
}

.retro {
  .switch__title {
    font-size: map-get($font-sizes, "small");
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
}

.twinkling {
  background: transparent url("../assets/twinkling-min.png");
  z-index: 0;
  height: 100%;
  bottom: 0;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.twinkling-fix {
  background: transparent url("../assets/twinkling-min.png");
  z-index: 0;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.twinkling-fix-background {
  background: #000 url("../assets/stars-min.png") repeat top center;
}

.header {
  text-align: center;
  font-size: map-get($font-sizes, "big");
  text-shadow: 0px 4px map-get($colors, "red");
}

.opening,
.main,
.intro,
.switch {
  transition: 0.7s;
}

.opening {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__trademark {
    margin-top: map-get($spacing-unit, "default");
  }
}

.center {
  text-align: center;
}

button {
  border: 0;
  font-size: map-get($font-sizes, "default");
  margin-top: map-get($spacing-unit, "default");
  text-transform: uppercase;
  background: map-get($colors, "black");

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &.skip {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    right: 0;
    width: auto;
    bottom: map-get($spacing-unit, "default");
    display: flex;
    justify-content: center;
  }
}

.intro__text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.main {
  padding-top: map-get($spacing-unit, "biggest");

  .github-link {
    padding-bottom: map-get($spacing-unit, "default");
    text-align: center;

    a {
      border-bottom: 0;
    }

    img {
      height: 60px;
      width: 60px;
    }
  }

  a {
    color: map-get($colors, "white");
    padding-bottom: 3px;
    border-bottom: 2px solid map-get($colors, "white");
    word-break: break-all;
    text-decoration: none;
  }

  &__current-job {
    border-top: 2px solid map-get($colors, "white");
    border-bottom: 2px solid map-get($colors, "white");
    text-align: center;
    padding: 1em 0 1em 0;
    margin-top: map-get($spacing-unit, "default");
    margin-bottom: map-get($spacing-unit, "default");

    a {
      word-break: break-word;
    }
  }

  &__contact {
    text-align: center;
    margin-top: map-get($spacing-unit, "big");
  }
}

.resume {
  display: flex;
  margin-top: map-get($spacing-unit, "default");
  flex-direction: column;

  &__education,
  &__work {
    border: 2px solid map-get($colors, "white");
    border-radius: 5px;
    padding: map-get($spacing-unit, "medium") map-get($spacing-unit, "medium")
      map-get($spacing-unit, "default") map-get($spacing-unit, "medium");
    background: map-get($colors, "black");
    font-size: 14px;

    &-title {
      text-align: center;
      margin-bottom: 1em;
      font-size: map-get($font-sizes, "default");
    }
  }

  &__education {
    margin-bottom: map-get($spacing-unit, "default");
  }

  .experience {
    margin-bottom: map-get($spacing-unit, "default");
    line-height: 1.7em;
    margin-left: 1em;

    &__title {
      font-size: map-get($font-sizes, "default");
      margin-left: -1em;
    }
  }
}

@media only screen and (min-width: 992px) {
  .intro__text {
    font-size: 20px;
  }

  .header {
    font-size: map-get($font-sizes, "desktop-header");
  }

  button {
    &.skip {
      bottom: map-get($spacing-unit, "giant");
    }
  }

  .resume {
    flex-direction: row;
    align-items: start;

    &__education,
    &__work {
      width: 50%;
    }

    &__education {
      margin-right: map-get($spacing-unit, "default");
      margin-bottom: 0;
    }
  }
}
